<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>datas</key>
	<array>
		<dict>
			<key>title</key>
			<string>查找函数调用栈</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTThreadLogVC</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>TestVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>Test Demo</string>
		</dict>
		<dict>
			<key>title</key>
			<string>刷新按钮</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTRefreshBtnVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>富文本点击事件</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTRichTextClickVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新手指引</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>WTMaskGuideVC</string>
		</dict>
		<dict>
			<key>vc</key>
			<string>WztSpecialCharactEncodeVC</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>title</key>
			<string>字符串-特殊字符编解码</string>
		</dict>
		<dict>
			<key>title</key>
			<string>内存使用情况</string>
			<key>method</key>
			<string>clickCellAction:</string>
			<key>vc</key>
			<string>BCLocalStorageVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新手指引Test</string>
			<key>method</key>
			<string>toNewGuideAction:</string>
			<key>vc</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
